asttokens
brotlicffi
certifi
cffi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
filelock
fonttools
fsspec
gmpy2
idna
ipykernel
ipython
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib==3.10.9
matplotlib-inline
mkl-service==2.6.1
mkl_fft
mkl_random
mpmath
nest-asyncio
networkx
numpy
opencv-python==4.13.0.92
opencv-python-headless==4.13.0.92
optree
packaging==26.0
parso
pexpect
pillow
platformdirs
polars
polars-runtime-32
prompt_toolkit
psutil
ptyprocess
pure_eval
pycparser
Pygments
pyparsing
PySocks
python-dateutil
PyYAML
pyzmq
requests
scipy
six
stack_data
sympy
torch
torchvision
tornado
traitlets
typing_extensions
ultralytics
ultralytics-thop
urllib3
wcwidth